.register {
    background-color: #F9FAFB;
    min-height: 600px;
    text-align: center;
}

.container {
    display: flex;
    padding-top: 200px;
    max-width: 1250px;
    margin: 0 auto;
    justify-content: center;
}

.register__block {
    width: 500px;
    background-color: grey;

}